{% extends "layout.html" %}

{% block content %}
<p>
    This site is the official rulings database for <strong>Vampire: The Eternal Struggle</strong>.
    VTES is a game published by {{ external_link("Black Chantry Productions", "https://www.blackchantry.com") }},
    under {{ external_link("Paradox Interactive", "https://www.paradoxinteractive.com/games/world-of-darkness/about") }}
    license.
</p>

<div id="SearchByCard" class="display">
    <div id="cardSearch" class="display">
        <label for="cardSearch">Name of Card: </label>
        <div id="orientation">
            <input type="text" id = "cardSearchBar" name="cardSearchBar">
            <ul id="cardSearchResults"></ul>
        </div>
        <label for=""> </label>
    </div>
    <div id="cardDisplay" class="dont-display">
        <div class="display" id="column">
            <img src="" alt="" id="displayCardImg">
            <p id="cardInfo"></p>
        </div>
        <ul id="cardRulings"></ul>
        <h3>Backreferences: </h3>
        <ul id="cardBackrefs"></ul>
    </div>
    <div id="cardRulingEdit" class="dont-display">
        <label for="cardEditRulingInput">Proposed Ruling: </label>
        <input type="text" id="cardEditRulingInput">
        <label for="cardRulingReference">Reference: </label>
        <input type="text" id="cardEditRulingReference">
        <button id="cardEditRulingSub">Submit</button>
    </div>
    <div id="createCardRuling" class="dont-display">
        <label for="cardNewRulingInput">Proposed Ruling: </label>
        <input type="text" id="cardNewRulingInput">
        <label for="cardNewRulingReference">Reference: </label>
        <input type="text" id="cardNewRulingReference">
        <button id="cardNewRulingSub">Submit</button>
    </div>
</div>
<div id="SearchByGroup" class="dont-display">
    <div id="groupSearch" class="display">
        <label for="groupSearch">Name of Group: </label>
        <input type="text" id = "groupSearchBar" name="groupSearchBar">
            <ul id="groupSearchResults"></ul>
        {# fill with a list of links to specific groups #}
    </div>
    <div id="groupDisplay" class="dont-display">
        <p id="groupInfo"></p>
        <ul id="groupRulings"></ul>
        <h3 id="cardsInGroupLabel"></h3>
        <ul id="cardsInGroup"></ul>
    </div>
    <div id="groupRulingEdit" class="dont-display">
        <label for="groupEditRulingInput">Proposed Ruling: </label>
        <input type="text" id="groupEditRulingInput">
        <label for="groupRulingReference">Reference: </label>
        <input type="text" id="groupEditRulingReference">
        <button id="groupEditRulingSub">Submit</button>
    </div>
    <div id="createGroupRuling" class="dont-display">
        <label for="groupNewRulingInput">Proposed Ruling: </label>
        <input type="text" id="groupNewRulingInput">
        <label for="groupNewRulingReference">Reference: </label>
        <input type="text" id="groupRulingReference">
        <button id="groupNewRulingSub">Submit</button>
    </div>
</div>
{#
Plan: 
search bar for looking at cards using API: https://api.krcg.org/complete/{user input from search bar}
from there, user can click on one of the names generated from that list for full description of the rulings related to the specific card
this page will also have a text box allowing the user to submit a ruling via the "https://api.krcg.org/submit-ruling/{card from list}
and another one for the link to official ruling from a rules director. 
#}
{% endblock %}