{% extends "layout.html" %}

{% block content %}
<div id="SearchByCard" class="row my-3">
    <search>
        <form id="cardSearchForm" class="col-md-4">
            <input type="search" id="cardSearchInput" list="cardOptions" placeholder="Card name"
                class="form-control autocomplete" data-server="http://127.0.0.1:5000/complete/" data-live-server="true"
                data-suggestions-threshold="3">
        </form>
    </search>
</div>
<div id="cardDisplay" class="row my-3">
    <div class="col-md-auto" id="column">
        <img src="" alt="" id="cardImg" class="h-90">
    </div>
    <div class="col-md">
        <div class="d-flex align-items-center">
            <div class="badge bg-info-subtle text-info-emphasis" id="cardID"></div>
            <h2 class="px-3" id="cardName"></h2>
            <div class="badge rounded-pill bg-secondary-subtle text-secondary-emphasis invisible" id="cardGroup"></div>
            <div class="krcg-icon invisible" id="cardAdv">|</div>
        </div>
        <div class="row justify-content-start">
            <p class="col-8" id="cardText"></p>
        </div>
    </div>
</div>
<div class="container-fluid my-3 invisible" id="rulingsDiv">
    <h4>Rulings</h4>
    <div id="rulingsList">No Ruling.</div>
</div>
<div class="container-fluid my-3 invisible" id="backrefTitle">
    <h4>Referenced by</h4>
</div>
<div class="row my-3 gx-0" id="backrefList"></div>
{% endblock %}