<!DOCTYPE html>
<html lang="en-US">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Vampire: the Eternal Struggle (VTES) rulings database">
    <meta name="keywords" content="Vampire, the Eternal Struggle, VtES, CCG">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="https://static.krcg.org/web/krcg.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', v=version) }}">
    <script async src="https://static.krcg.org/web/krcg.js"></script>
    <script async src="{{ url_for('static', filename='js/ts-built/display.js') }}" type="module"></script>
    {% block scripts %}{% endblock %}
    <title>V:TES Rulings Database</title>
    {% endblock %}
</head>

<body>
    <header role="banner">
        <a href="{{ url_for('index') }}" , class="site-logo">
            <img src="{{ url_for('static', filename='img/black-chantry-icon.webp') }}" alt="Site logo" id="companyLogo">
            <h1>V:TES Rulings Database</h1>
        </a>
        <nav role="navigation">
            {# TODO #}
                    <div id="cardNav" class="navigation">Card</div>
                    <div id="groupNav" class="navigation">Group</div>
                    <div id="loginNav" class="navigation">Login</div>
        </nav>
    </header>

    {% block article %}
    <article>
        {% block content %}{% endblock %}
    </article>
    {% endblock %}

    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>

</html>