html {
    background-color: #fffdf5;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

body{
    background-color: #fffdf5;
}

article{
    padding: 48px;
}

header{
    display: flex;
    height: 15vh;
    justify-content: space-around;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid black;
    background-color: #ffffff;
}

.backrefs{
    color: blue;
    text-decoration: underline;
}

.site-logo{
    display: flex;
    flex-direction: row;
}

.navigation{
    padding: 15px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label{
    white-space: pre;
}

/* First Card Section */
#column{
    flex-direction: row;
    justify-content: space-between;
}
#displayCardImg{
    padding-right: 15px;
}
#SearchByCard{
    justify-content: center;
}
#searchResults{
    position: absolute;
    height: fit-content;
    width: 13vmax;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#cardSearchBar{
    width: 15vmax;
}


/* Second Card Section */
#cardDisplay{
    flex-direction: column;
}
#cardRulingSubmission{
    width: 20vmax;
    height: fit-content;
}
#cardRulingSubButton{
    width: 20vmax;
    height: fit-content;
}
#cardInfo{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

/* First Group Section */
#SearchByGroup{
    justify-content: center;
}

/* Second Group Section */


/* able to swap between these classes to have HTML elements appear / disappear. */
.display{ display: flex; }
.dont-display{ display: none; }

/* Display changes based on the type of screen used to display the information */
@media (max-width: 480px){

}
  
@media (max-width: 768px) and (min-width: 481px){

}
  
@media (max-width: 1024px) and (min-width: 769px){

}
  
@media (max-width: 1200px) and (min-width: 1025px){

}
  
@media (min-width: 1201px){

}