@import "bootstrap/scss/bootstrap-utilities";

$accordion-color: var(--#{$prefix}body-color);
$accordion-bg: var(--#{$prefix}success-bg-subtle);
$accordion-button-color: var(--#{$prefix}body-color);
$accordion-button-bg: var(--#{$prefix}accordion-bg);
$accordion-button-active-bg: var(--#{$prefix}bg-success);
$accordion-button-active-color: var(--#{$prefix}success-text-emphasis);
@import "bootstrap/scss/bootstrap";
$bootstrap-icons-font-dir: "../../../../node_modules/bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

@font-face {
    font-family: "Ankha VTES";
    src: url("https://static.krcg.org/web/ankha2.otf") format("opentype");
}

@font-face {
    font-family: "VTES Clans";
    src: url("https://static.krcg.org/web/vtes-clans.otf") format("opentype");
}

#krcg-click-modal,
#krcg-over-modal {
    display: none;
    position: fixed;
    padding: 10vh 0.5vw;
    right: 0;
    top: 0;
    text-align: right;
}

.krcg-card {
    color: $secondary;
    font-style: italic;
}

.krcg-card:hover {
    text-decoration: underline;
    text-underline-offset: .25em;
}

.dropdown-menu {
    overflow: hidden;
    overflow-y: auto;
    max-height: 50vh;
}

.krcg-icon {
    font-family: "Ankha VTES";
    font-style: normal;
}

.krcg-clan {
    font-family: "VTES Clans";
    font-style: normal;
}

#krcg-click-modal {
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

#krcg-over-modal {
    z-index: 3;
}

img.krcg-modal-image {
    max-height: min(70vh, 500px);
    max-width: min(89vw, 340px);
    border: 0;
    padding: 0;
    outline: 0;
    margin: 0.5em;
    object-fit: contain;
}