html {
    background-color: #fffdf5;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

body{
    background-color: #fffdf5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid black;
    background-color: #ffffff;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}
a{
    height: 100%;
    width: fit-content;
}
h1{
    display: flex;
    align-items: center;
}

article{
    padding: 48px;
}


.backrefs{
    color: blue;
    text-decoration: underline;
}

.site-logo{
    display: flex;
    flex-direction: row;
}

.navigation{
    padding: 15px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label{
    white-space: pre;
}

/* First Card Section */
#column{
    flex-direction: row;
    justify-content: space-between;
}
#cardSearch{
    justify-content: center;
    align-items: center;
    width: 100%;
}
#displayCardImg{
    padding-right: 15px;
}
#cardSearchResults{
    position: absolute;
    height: fit-content;
    width: 15%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px;
    margin-top: 0px;
}
#cardSearchBar{
    width: 100%;
}
#orientation{
    width: 15%;
}
.cardSearchOption{
    border: 1px solid black;
}
.cardSearchOptionSelected{
    border: 1px solid black;
    background-color: aqua;
}


/* Second Card Section */
#cardDisplay{
    flex-direction: column;
}
#cardRulings{
    display: flex;
    flex-direction: column;
    align-items: end;
}
#cardInfo{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}
.ruling{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.rulingText{
    width: 50%;
}
.rulingName{
    width: 20%;
}
.rulingEdit{
    width: 5%;
    height: fit-content;
}
.rulingCreate{
    height: fit-content;
    width: 10%;
}

/* First Group Section */
#SearchByGroup{
    justify-content: center;
}

/* Second Group Section */


/* able to swap between these classes to have HTML elements appear / disappear. */
.display{ display: flex; }
.dont-display{ display: none; }

/* Display changes based on the type of screen used to display the information */

@media (max-width: 480px){
    header{
        height: 10vh;
    }
    #SearchByCard{
        justify-content: center;
        padding-left: 22px;
        padding-right: 22px;
    }
    body{
        width: fit-content;
    }
}
  
@media (max-width: 768px) and (min-width: 481px){
    header{
        height: 10vh;
    }
    #SearchByCard{
        justify-content: center;
        padding-left: 22px;
        padding-right: 22px;
    }
    body{
        width: fit-content;
    }

}
  
@media (max-width: 1024px) and (min-width: 769px){
    header{
        height: 10vh;
    }
    #SearchByCard{
        justify-content: center;
        padding-left: 22px;
        padding-right: 22px;
    }
    body{
        width: fit-content;
    }

}
  
@media (max-width: 1200px) and (min-width: 1025px){
    header{
        height: 15vh;
    }
    #SearchByCard{
        justify-content: center;
        padding-left: 22px;
        padding-right: 22px;
    }
    body{
        width: fit-content;
    }
}
  
@media (min-width: 1201px){
    header{
        height: 15vh;
    }
    #SearchByCard{
        justify-content: center;
        padding-left: 22px;
        padding-right: 22px;
    }
    
}